name: CI (Android)

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    env:
      MAME_SRC_VER: mame0284

    steps:
    - uses: actions/checkout@v4

    - uses: actions/checkout@v4
      with:
        repository: mamedev/mame
        ref: ${{ env.MAME_SRC_VER }}
        path: mame

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libsdl2-dev libsdl2-ttf-dev libfontconfig-dev libasound2-dev libxinerama-dev libxi-dev qtbase5-dev qtbase5-dev-tools

    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1
      id: setup-ndk
      with:
        ndk-version: r26d
        add-to-path: true

    - name: Setup variables
      id: setup-vars
      run: |
        sdlandroid=${{ github.workspace }}
        sdlandroid="$(readlink -f $sdlandroid/..)"
        sdlandroid="$sdlandroid/SDL_Android_arm64"
        echo "sdlandroid=$sdlandroid" >> "$GITHUB_OUTPUT"

    - name: Build SDL2
      env:
        ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        SDL_INSTALL_ROOT: ${{ steps.setup-vars.outputs.sdlandroid }}
        SDL2DLURL: 'https://github.com/libsdl-org/SDL/releases/download/release-2.32.10/SDL2-2.32.10.tar.gz'
      run: |
        wget -qO - "$SDL2DLURL" | \
        tar -xzf -

        (
            cd SDL2-2.32.10

            cmake -S . -B build_arm64 \
            -DANDROID_PLATFORM=android-24 \
            -DANDROID_ABI=arm64-v8a \
            -DCMAKE_INSTALL_PREFIX="$SDL_INSTALL_ROOT" \
            -DCMAKE_TOOLCHAIN_FILE="$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake" \
            -DSDL_SHARED=OFF -DSDL_STATIC=ON -DSDL_STATIC_PIC=ON -DSDL_TEST=ON \
            -DSDL2_DISABLE_SDL2MAIN=OFF -DSDL2_DISABLE_INSTALL=OFF \
            -DCMAKE_INSTALL_INCLUDEDIR=include -DCMAKE_INSTALL_LIBDIR=lib -DCMAKE_BUILD_TYPE=Release

            make -C build_arm64 install
        )

        rm -rf SDL2-2.32.10

    - name: Build
      env:
        CUSTOM_VCS_REVISION: ${{ env.MAME_SRC_VER }}
        ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        SDL_INSTALL_ROOT: ${{ steps.setup-vars.outputs.sdlandroid }}
        SUBTARGET: tiny
        EMULATOR: 0
        TOOLS: 1
        LDFLAGS: -static-libstdc++
      working-directory: mame
      run: |
        patch -p1 < ../${{ env.MAME_SRC_VER }}.patch
        make android-arm64 -j$(nproc)

    - uses: actions/upload-artifact@v4
      with:
        name: chdman-android-arm64-clang-${{ env.MAME_SRC_VER }}
        path: |
          mame/chdman
        if-no-files-found: error
